# Node.js dependencies
node_modules/

# Logs
logs/
*.log
npm-debug.log*

# Environment variables
.env

# Build outputs
dist/
build/

# System files
.DS_Store
Thumbs.db

# IDE settings
.vscode/
.idea/

# Firebase Admin Credentials
serviceAccountKey.json

#test files
tes.html
testPasswordencryption.html
testforgotpassword.html
testresend.html
downloadtest.html
check.html
carlistingtest.html
downloadtest.html
houselistingtest.html
testframe.html